.DS_Store
data/task_1.csv
data/items_phase_1.csv
data/items_train.csv
data/task_1.csv
data/images/
__pycache__/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
notebooks/clip_embeddings.pt
data/clip_embeddings.pt
notebooks/best_glami_model.pth
notebooks/glami_baseline_model.pth
notebooks/train_pairs_hard_negatives.csv
notebooks/val_pairs_hard_negatives.csv